SecureClient/Service References/BasicHttpService/BasicHttpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BasicHttpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITestService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SecureService/BasicHttpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SecureService/BasicHttpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_CheckData_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckData" />
  </wsdl:message>
  <wsdl:message name="ITestService_CheckData_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDate" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="CheckData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/CheckData" message="tns:ITestService_CheckData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/CheckDataResponse" message="tns:ITestService_CheckData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetDate" message="tns:ITestService_GetDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetDateResponse" message="tns:ITestService_GetDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestService" type="tns:ITestService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITestService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckData">
      <soap:operation soapAction="http://tempuri.org/ITestService/CheckData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicHttpService">
    <wsdl:port name="BasicHttpBinding_ITestService" binding="tns:BasicHttpBinding_ITestService">
      <soap:address location="http://localhost/SecureService/BasicHttpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>